import { PartialType } from '@nestjs/swagger';
import { Create{{ENTITY_NAME}}Dto } from './create-{{ENTITY_NAME_KEBAB}}.dto';

/**
 * DTO for updating {{ENTITY_NAME}}
 * All fields from Create{{ENTITY_NAME}}Dto are optional
 */
export class Update{{ENTITY_NAME}}Dto extends PartialType(Create{{ENTITY_NAME}}Dto) {}
