apiVersion: 1

datasources:
  # Prometheus
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: false
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo

  # Loki for logs
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    version: 1
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"

  # Tempo for traces
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    version: 1
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        tags: ['job', 'instance', 'pod', 'namespace']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: false
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
        filterByTraceID: false
        filterBySpanID: false
      serviceMap:
        datasourceUid: prometheus
      nodeGraph:
        enabled: true
      search:
        hide: false
      lokiSearch:
        datasourceUid: loki

  # Elasticsearch
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "logs-*"
    version: 1
    editable: false
    jsonData:
      esVersion: "8.0.0"
      timeField: "@timestamp"
      logMessageField: message
      logLevelField: level
      interval: Daily
      timeInterval: 10s
      maxConcurrentShardRequests: 5

  # PostgreSQL for application data
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: ait_core
    user: grafana_reader
    version: 1
    editable: false
    secureJsonData:
      password: ${POSTGRES_GRAFANA_PASSWORD}
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1400
      timescaledb: false

  # InfluxDB (if used for time-series data)
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: ait_core
    version: 1
    editable: false
    jsonData:
      httpMode: POST
      timeInterval: 10s
    secureJsonData:
      token: ${INFLUXDB_TOKEN}

  # Jaeger (alternative to Tempo)
  # - name: Jaeger
  #   type: jaeger
  #   access: proxy
  #   url: http://jaeger:16686
  #   version: 1
  #   editable: false
  #   jsonData:
  #     tracesToLogs:
  #       datasourceUid: loki

  # CloudWatch (for AWS monitoring)
  # - name: CloudWatch
  #   type: cloudwatch
  #   jsonData:
  #     authType: default
  #     defaultRegion: us-east-1
