apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: ait-core
  labels:
    app: admin
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: admin
  ports:
    - name: http
      port: 3001
      targetPort: 3001
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: 9090
      protocol: TCP
  sessionAffinity: ClientIP
