apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: ait-core
  labels:
    app: web
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: web
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: 9090
      protocol: TCP
  sessionAffinity: ClientIP
