openapi: 3.0.3

info:
  title: AIT-CORE Soriano Insurance Platform API
  version: 1.0.0
  description: |
    # AIT-CORE Soriano Insurance Platform API

    Comprehensive RESTful API for managing insurance operations, policies, claims, and customer relationships.

    ## Features

    - **Authentication & Authorization**: JWT-based authentication with role-based access control
    - **User Management**: Complete user lifecycle management
    - **Insurance Operations**: Policies, quotes, claims, and underwriting
    - **Real-time Communication**: WebSocket support for live updates
    - **Analytics**: Advanced reporting and business intelligence
    - **Notifications**: Multi-channel notification system (Email, SMS, Push)
    - **Document Management**: Secure document storage and retrieval
    - **Audit Trail**: Comprehensive activity logging

    ## Versioning

    This API uses URI versioning (e.g., /api/v1/users)

    ## Authentication

    Use the `/auth/login` endpoint to obtain a JWT token. Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-token>
    ```

    ## Rate Limiting

    - Anonymous: 100 requests per hour
    - Authenticated: 1000 requests per hour
    - Premium: 10000 requests per hour

    ## Support

    - **Email**: support@soriano.com
    - **Documentation**: https://docs.soriano.com
    - **Status Page**: https://status.soriano.com

  contact:
    name: AIT-CORE Support
    url: https://ait-core.soriano.com
    email: support@soriano.com

  license:
    name: Proprietary
    url: https://ait-core.soriano.com/license

  termsOfService: https://soriano.com/terms

servers:
  - url: https://api.soriano.com/api/v1
    description: Production server
  - url: https://api-staging.soriano.com/api/v1
    description: Staging server
  - url: https://api-dev.soriano.com/api/v1
    description: Development server
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and authorization endpoints
  - name: Users
    description: User management operations
  - name: Insurance
    description: Insurance policies and products
  - name: Quotes
    description: Insurance quote generation and management
  - name: Claims
    description: Claims processing and management
  - name: Customers
    description: Customer relationship management
  - name: Payments
    description: Payment processing and transactions
  - name: Documents
    description: Document management system
  - name: Notifications
    description: Notification management
  - name: Analytics
    description: Business intelligence and reporting
  - name: Health
    description: System health and monitoring
  - name: Webhooks
    description: Webhook management

security:
  - BearerAuth: []
  - ApiKeyAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT authentication token

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for service-to-service authentication

    CookieAuth:
      type: apiKey
      in: cookie
      name: refresh_token
      description: Refresh token stored in HTTP-only cookie

  schemas:
    # Common Schemas
    Error:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Invalid input data
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ResponseMeta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: '2024-01-28T12:00:00Z'
        requestId:
          type: string
          example: req_abc123xyz

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          example: 100
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 10
        totalPages:
          type: integer
          example: 10

    # User Schemas
    User:
      type: object
      required:
        - id
        - email
        - firstName
        - lastName
        - role
      properties:
        id:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        email:
          type: string
          format: email
          example: user@example.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        phone:
          type: string
          example: '+34612345678'
        role:
          type: string
          enum: [USER, MANAGER, ADMIN, SUPER_ADMIN]
          example: USER
        isActive:
          type: boolean
          example: true
        emailVerified:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          example: SecurePassword123!

    RegisterRequest:
      type: object
      required:
        - email
        - password
        - firstName
        - lastName
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            accessToken:
              type: string
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
            refreshToken:
              type: string
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
            expiresIn:
              type: integer
              example: 3600
            tokenType:
              type: string
              example: Bearer
            user:
              $ref: '#/components/schemas/User'

    # Policy Schemas
    Policy:
      type: object
      required:
        - id
        - policyNumber
        - type
        - status
      properties:
        id:
          type: string
          format: uuid
        policyNumber:
          type: string
          example: POL-2024-001234
        type:
          type: string
          enum: [AUTO, HOME, LIFE, HEALTH, BUSINESS]
          example: AUTO
        customerId:
          type: string
          format: uuid
        status:
          type: string
          enum: [DRAFT, ACTIVE, SUSPENDED, CANCELLED, EXPIRED]
          example: ACTIVE
        premium:
          type: number
          format: double
          example: 1200.00
        currency:
          type: string
          example: EUR
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Quote Schemas
    Quote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        quoteNumber:
          type: string
          example: QUO-2024-001234
        type:
          type: string
          enum: [AUTO, HOME, LIFE, HEALTH, BUSINESS]
        customerId:
          type: string
          format: uuid
        status:
          type: string
          enum: [DRAFT, PENDING, APPROVED, REJECTED, EXPIRED, CONVERTED]
        premium:
          type: number
          format: double
        currency:
          type: string
          example: EUR
        validUntil:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    # Claim Schemas
    Claim:
      type: object
      properties:
        id:
          type: string
          format: uuid
        claimNumber:
          type: string
          example: CLM-2024-001234
        policyId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        type:
          type: string
          enum: [ACCIDENT, THEFT, DAMAGE, LIABILITY, MEDICAL, OTHER]
        amount:
          type: number
          format: double
        currency:
          type: string
          example: EUR
        status:
          type: string
          enum: [SUBMITTED, UNDER_REVIEW, APPROVED, REJECTED, PAID, CLOSED]
        description:
          type: string
        incidentDate:
          type: string
          format: date
        submittedAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time

    # Payment Schemas
    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        transactionId:
          type: string
        policyId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        amount:
          type: number
          format: double
        currency:
          type: string
          example: EUR
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED, REFUNDED, CANCELLED]
        method:
          type: string
          enum: [CREDIT_CARD, DEBIT_CARD, BANK_TRANSFER, CASH, CHECK]
        processedAt:
          type: string
          format: date-time

    # Notification Schemas
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        type:
          type: string
          enum: [INFO, WARNING, ERROR, SUCCESS]
        channel:
          type: string
          enum: [EMAIL, SMS, PUSH, IN_APP]
        title:
          type: string
        message:
          type: string
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time

    # Webhook Schemas
    Webhook:
      type: object
      properties:
        id:
          type: string
          example: wh_123e4567e89b12d3
        url:
          type: string
          format: uri
          example: https://your-app.com/webhooks/ait-core
        events:
          type: array
          items:
            type: string
          example: ['policy.created', 'claim.submitted']
        description:
          type: string
        active:
          type: boolean
        secret:
          type: string
          example: whsec_abc123def456
        createdAt:
          type: string
          format: date-time

  responses:
    Unauthorized:
      description: Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

    SearchParam:
      name: search
      in: query
      description: Search query
      schema:
        type: string

    SortByParam:
      name: sortBy
      in: query
      description: Field to sort by
      schema:
        type: string
        default: createdAt

    SortOrderParam:
      name: sortOrder
      in: query
      description: Sort order
      schema:
        type: string
        enum: [asc, desc]
        default: desc

paths:
  # Authentication Endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate user and obtain access token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Create a new user account
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Obtain a new access token using refresh token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  expiresIn:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      description: Invalidate refresh token
      operationId: logout
      responses:
        '200':
          description: Logged out successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  # User Endpoints
  /users:
    get:
      tags:
        - Users
      summary: Get all users
      description: Get paginated list of users with optional filters
      operationId: getUsers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SearchParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/SortOrderParam'
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Users
      summary: Create new user
      description: Create a new user account (Admin only)
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      description: Get the profile of the currently authenticated user
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/{id}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Get detailed information about a specific user
      operationId: getUserById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

  # Health Check
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Check API health status
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  uptime:
                    type: number
                  version:
                    type: string

  # Webhooks
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Get all configured webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'

    post:
      tags:
        - Webhooks
      summary: Create webhook
      description: Create a new webhook endpoint
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
                - events
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
                description:
                  type: string
                active:
                  type: boolean
                  default: true
      responses:
        '201':
          description: Webhook created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Webhook'
